<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Static/fontawesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/Static/header.css}">
    <link rel="stylesheet" th:href="@{/Static/web_styles.css}">
    <link rel="stylesheet" th:href="@{/Static/Menu-Staff.css}">
    <link rel="stylesheet" th:href="@{/Static/css/staff/Staff_Create_New_Exam.css}">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <title>Exam Management</title>
</head>

<body>
    <header class="header" th:insert="~{header_user :: header}"></header>
    <div id="Container-body">
        <div id="menu-HTML" th:insert="~{Menu-Staff :: menu}"></div>
        <div id="main">
            <!-- Step indicator -->
            <div style="display: flex; align-items: center; gap: 0.625rem;">
                <a th:href="@{/staff/exams/create/step1}"
                    style="color: black; width: 2.5rem; height: 2.5rem; font-size: 2.5rem;">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                <p style="color: #120368; font-size: 2.25rem; font-weight: 600;">Create New Exam</p>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.25rem;">
                <div class="Step-Container Step-Container_done">
                    <i class="fa-solid fa-check step Step_done"></i>
                    <p class="p_done">Basic info</p>
                </div>
                <div class="Step-Container Step-Container_continue">
                    <i class="fa-solid fa-2 step Step_continue"></i>
                    <p class="p_continue">Structure</p>
                </div>
                <div class="Step-Container">
                    <i class="fa-solid fa-3 step"></i>
                    <p>Assignment</p>
                </div>
                <div class="Step-Container">
                    <i class="fa-solid fa-4 step"></i>
                    <p>Review</p>
                </div>
            </div>
            <div id="content-container" style="display: flex; flex-direction: column; gap: 1.25rem;">
                <div>
                    <p style="font-size: 1.0625rem; font-weight: 600;">Exam Structure</p>
                    <p style="font-size: 0.75rem; color: #6B7280;">Define the structure and question distribution</p>
                </div>
                <form th:action="@{/staff/exams/create/step2}" th:object="${examCreateDTO}" method="post">
                    <div id="content" style="margin: 0;">
                        <div id="conten-container">
                            <div class="to-work">
                                <p class="work">Difficulty Distribution</p>
                                <p class="work">CLO Mapping</p>
                            </div>
                            <div id="total-container">
                                <div class="total">
                                    <p>Total Number of Questions</p>
                                    <input type="number" th:field="*{totalQuestions}" placeholder="50" min="1" required>
                                </div>
                                <div class="total">
                                    <p>Number of Versions</p>
                                    <input type="number" th:field="*{totalVersions}" placeholder="2" min="1" required>
                                </div>
                            </div>
                            <!-- Difficulty Distribution -->
                            <div>
                                <div
                                    style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 1.25rem;">
                                    <p style="font-size: 0.875rem; font-weight: 500;">Difficulty Distribution</p>
                                    <p style="font-size: 0.75rem; color: #2563EB;">Total
                                        <span
                                            th:text="${(examCreateDTO.percentBasic ?: 0) + (examCreateDTO.percentIntermediate ?: 0) + (examCreateDTO.percentAdvanced ?: 0) + (examCreateDTO.percentExpert ?: 0)}">100</span>%
                                    </p>
                                </div>
                                <div class="range-container">
                                    <div
                                        style="display: flex; flex-direction: row; gap: 0.625rem; margin-bottom: 0.3125rem;">
                                        <p>Basic (Recognition)</p>
                                        <p>-<span th:text="*{percentBasic}">25</span>%</p>
                                    </div>
                                    <p class="range-value"><span th:text="*{percentBasic}">13</span> question</p>
                                    <input type="range" th:field="*{percentBasic}" min="0" max="100" step="1" />
                                </div>
                                <div class="range-container">
                                    <div
                                        style="display: flex; flex-direction: row; gap: 0.625rem; margin-bottom: 0.3125rem;">
                                        <p>Intermediate (Understanding)</p>
                                        <p>-<span th:text="*{percentIntermediate}">25</span>%</p>
                                    </div>
                                    <p class="range-value"><span th:text="*{percentIntermediate}">13</span> question</p>
                                    <input type="range" th:field="*{percentIntermediate}" min="0" max="100" step="1" />
                                </div>
                                <div class="range-container">
                                    <div
                                        style="display: flex; flex-direction: row; gap: 0.625rem; margin-bottom: 0.3125rem;">
                                        <p>Advanced (Application)</p>
                                        <p>-<span th:text="*{percentAdvanced}">25</span>%</p>
                                    </div>
                                    <p class="range-value"><span th:text="*{percentAdvanced}">13</span> question</p>
                                    <input type="range" th:field="*{percentAdvanced}" min="0" max="100" step="1" />
                                </div>
                                <div class="range-container">
                                    <div
                                        style="display: flex; flex-direction: row; gap: 0.625rem; margin-bottom: 0.3125rem;">
                                        <p>Expert (High Application)</p>
                                        <p>-<span th:text="*{percentExpert}">25</span>%</p>
                                    </div>
                                    <p class="range-value"><span th:text="*{percentExpert}">13</span> question</p>
                                    <input type="range" th:field="*{percentExpert}" min="0" max="100" step="1" />
                                </div>
                            </div>
                            <!-- Additional Settings -->
                            <div style="display: flex; flex-direction: column; margin-top: 1.875rem;">
                                <div class="tick-container">
                                    <p>Check for Duplicate Questions</p>
                                    <label class="switch">
                                        <input type="checkbox" th:field="*{checkDuplicateQuestions}">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="tick-container">
                                    <p>Check CLO Coverage</p>
                                    <label class="switch">
                                        <input type="checkbox" th:field="*{checkCloCoverage}">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="tick-container">
                                    <p>Randomize Question Order</p>
                                    <label class="switch">
                                        <input type="checkbox" th:field="*{randomizeQuestionOrder}">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="tick-container">
                                    <p>Randomize Answer Options</p>
                                    <label class="switch">
                                        <input type="checkbox" th:field="*{randomizeAnswerOptions}">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div id="button-container">
                            <a th:href="@{/staff/exams/create/step1}" class="btn btn-secondary" title="Previous">
                                <i class="fa-solid fa-chevron-left"></i> Previous
                            </a>
                            <button type="submit" class="btn btn-primary" title="Next">
                                Next <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    // Set active menu based on current page
    document.addEventListener('DOMContentLoaded', function () {
        setActiveMenu(document.title);
    });
</script>
<script th:src="@{/Static/js/L_activeMenu.js}"></script>
</html>