@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    padding: 0.0rem;
    color: #333;
}

#Container-body {
    display: flex;
    flex-direction: row;
    gap: 2.5rem; /* Khoảng cách giữa menu và main */
}

#header-placeholder {
    background-color: #120368;
}

.main-context {
    flex-grow: 1;
    padding: 1.875rem 2.8125rem 0.0rem 0.0rem; /* Padding trên, phải, dưới, trái */
    box-sizing: border-box;
    min-width: 75vw;
}

.title {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
    color: #120368;
}

.subtitle {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    color: #555;
}

.new-btn {
    background-color: #49AFE8;
    font-weight: bold;
    font-size: 1.0rem;
    padding: 0.625rem 1.25rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
    float: right;
}

.new-btn:hover {
    background-color: #3b8bbd;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 0.0625rem solid #D9D9D9;
    border-radius: 0.3125rem;
}

th,
td {
    padding: 0.75rem 0.9375rem;
    text-align: center;
    border-bottom: 0.0625rem solid #D9D9D9;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f9f9f9;
}

select {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    color: inherit;
}


.search-container {
    position: relative;
    width: 18.75rem;
    margin-bottom: 1.25rem;
}

.search-container input {
    width: 100%;
    padding: 0.625rem 2.1875rem 0.625rem 0.625rem;
    border-radius: 0.525rem;
    border: 0.0625rem solid #D9D9D9;
}

.search-container i {
    position: absolute;
    right: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
}

/* status btn*/
.status-n, .status-i, .status-s {
    padding: 0.375rem 0.75rem;
    border-radius: 1.25rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: white;
}

.status-n {
    background-color: #FE6565;
}
.status-i {
    background-color: #49AFE8;
}
.status-s {
    background-color: #28A745;
}


/* form details */
#overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
    width: 500px;
    background-color: #fff;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', sans-serif;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.modal-desc {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}

.modal-due {
    color: #007bff;
    font-weight: bold;
}

.field {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.field label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 14px;
}

.field input,
.field textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 12px;
    resize: none;
    background-color: #f9f9f9;
}

.info-group {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    flex-wrap: wrap;
    gap: 10px;
}

.levels {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    gap: 10px;
}

.levels div {
    flex: 1;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 6px;
}

.levels div strong {
  display: block;
}

.status {
    padding: 4px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.button-group button {
    background-color: #120368;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #0d0258;
}

/* form gửi bài */
