services:
  db:
    image: mysql:8.0
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: QuizClear
      MYSQL_USER: user
      MYSQL_PASSWORD: 123456
    ports:
      - "3336:3306"
    volumes:
      - ./QuizClear/src/main/resources/db/init.sql:/docker-entrypoint-initdb.d/01_init.sql
      - ./QuizClear/src/main/resources/db/sample_data.sql:/docker-entrypoint-initdb.d/02_sample_data.sql
