@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    padding: 0.0rem;
    color: #333;
}

#Container-body {
    display: flex;
    flex-direction: row;
    gap: 2.5rem; /* Khoảng cách giữa menu và main */
}

#header-placeholder {
    background-color: #120368;
}

.main-context {
    flex-grow: 1;
    padding: 3rem;
    box-sizing: border-box;
    min-width: 75vw;
    border-radius: 1rem;
    border: 0.0625rem solid #E0EAFA;
}

.title {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
    color: #120368;
}

.subtitle {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    color: #555;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 0.0625rem solid #D9D9D9;
    border-radius: 0.3125rem;
}

th,
td {
    padding: 0.75rem 0.9375rem;
    text-align: left;
    border-bottom: 0.0625rem solid #D9D9D9;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f9f9f9;
}
select {
    padding: 0.625rem;
    border-radius: 0.3125rem;
    border: 0.2rem solid #E0EAFA;
    margin-bottom: 1.25rem;
}

.search-container {
    position: relative;
    width: 18.75rem;
    margin-bottom: 1.25rem;
    border-color: #E0EAFA;
}

.search-container input {
    width: 100%;
    padding: 0.625rem 2.1875rem 0.625rem 0.625rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid #E0EAFA;
    background-color: #E0EAFA;
}

.search-container i {
    position: absolute;
    right: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
}

.filter-select {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
}

/* === TRẠNG THÁI === */
.status-btn-acp {
    background-color: #E4FFE9;
    color: black;
    padding: 0.5rem 0.75rem;
    border-radius: 2rem;
    display: inline-block;
    text-align: center;
    font-size: 0.875rem;
}

.status-btn-new {
    background-color: #FAFFC8;
    color: black;
    padding: 0.5rem 0.75rem;
    border-radius: 2rem;
    display: inline-block;
    text-align: center;
    font-size: 0.875rem;
}
td i.fa-circle-check {
    font-size: 1.25rem;
}