<link rel="stylesheet" href="../../Static/fontawesome/css/all.css">
<link rel="stylesheet" href="../../Static/Menu-Staff.css">
<div id="Menu-Staff">
    <div style="padding: 1rem;">
        <div class="elements active">
            <i class="fa-solid fa-house "></i>
            <a href="slDashboard.html">Dashboard</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-list-check"></i>
            <a href="slPlans.html">Plans</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-comments"></i>
            <a href="slQuesAssignment.html">Question Assignment</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-file"></i>
            <a href="SLExamAssignment.html">Exam Assignment</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-thumbs-up"></i>
            <a href="slReviewApproval.html">Review & Approval</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-flag"></i>
            <a href="SL_SummaryReport.html">Summary Report</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-chart-simple"></i>
            <a href="sl_feedBack.html">Feedback</a>
        </div>
    </div>

</div>