<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/FontAwesome/css/all.css">
    <link rel="stylesheet" href="../../Static/header.css">
    <link rel="stylesheet" href="../../Static/web_styles.css">
    <link rel="stylesheet" href="../../static/css/subjectLeader/slPlans.css">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <title>SL Plans</title>
</head>

<body>
    <!--header-->
    <div id="header-placeholder"></div>



    <!-- body -->
    <div id="Container-body">
        <!-- Menu -->
        <div id="menu-HTML"></div>


        <!-- Main content -->
        <div id="main">
            <!-- noi dung duoc nhap trong day -->
            <div class="page-header">
                <div class="title">Plans</div>
                <div class="subtitle">Access and confirm assigned question development tasks</div>
            </div>
                <div class="search-filter-bar">
                    <div class="search-box">
                        <input type="text" placeholder="Enter search content ..." class="search-input">
                        <button class="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <div class="filter-dropdown">
                        <select class="filter-select">
                            <option>All Status</option>
                            <option>Pending</option>
                            <option>Accepted</option>
                            <option>New</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <table class="course-table">
                    <thead>
                        <tr>
                            <th>Plans ID</th>
                            <th>Plans Name</th>
                            <th>No. of Ques</th>
                            <th>Difficulty Levels</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>DB202</td>
                            <td>Database Systems</td>
                            <td>50</td>
                            <td>15 Reg
                                20 Comp
                                10 Bas App
                                5 Adv App</td>
                            <td>22/04/25</td>
                            <td>
                                <div class="status-btn-acp">Accepted</div>
                            </td>
                            <td></td>
                            </td>
                        </tr>
                        <tr>
                            <td>DB202</td>
                            <td>Database Systems</td>
                            <td>50</td>
                            <td>15 Reg
                                20 Comp
                                10 Bas App
                                5 Adv App</td>
                            <td>22/04/25</td>
                            <td>
                                <div class="status-btn-new">New</div>
                            </td>
                            <td>
                               <i class="fa-regular fa-circle-check" style ="color: green"></i>
                            </td>
                        </tr>
                        <tr>
                           <tr>
                            <td>DB202</td>
                            <td>Database Systems</td>
                            <td>50</td>
                            <td>15 Reg
                                20 Comp
                                10 Bas App
                                5 Adv App</td>
                            <td>22/04/25</td>
                            <td>
                                <div class="status-btn-new">New</div>
                            </td>
                            <td>
                               <i class="fa-regular fa-circle-check" style ="color: green"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>DB202</td>
                            <td>Database Systems</td>
                            <td>50</td>
                            <td>15 Reg
                                20 Comp
                                10 Bas App
                                5 Adv App</td>
                            <td>22/04/25</td>
                            <td>
                                <div class="status-btn-new">New</div>
                            </td>
                            <td>
                               <i class="fa-regular fa-circle-check" style ="color: green"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>DB202</td>
                            <td>Database Systems</td>
                            <td>50</td>
                            <td>15 Reg
                                20 Comp
                                10 Bas App
                                5 Adv App</td>
                            <td>22/04/25</td>
                            <td>
                                <div class="status-btn-new">New</div>
                            </td>
                            <td>
                               <i class="fa-regular fa-circle-check" style ="color: green"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>DB202</td>
                            <td>Database Systems</td>
                            <td>50</td>
                            <td>15 Reg
                                20 Comp
                                10 Bas App
                                5 Adv App</td>
                            <td>22/04/25</td>
                            <td>
                                <div class="status-btn-new">New</div>
                            </td>
                            <td>
                               <i class="fa-regular fa-circle-check" style ="color: green"></i>
                            </td>
                        </tr>
                    </tbody>
        </div>



        <!-- ma nhung header vs menu -->
        <script>
            // Load header
            fetch('../header_user.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header-placeholder').innerHTML = data;
                });

            // Load menu
            fetch('Menu-SL.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('menu-HTML').innerHTML = data;
                });

        </script>
</body>

</html>