 <link rel="stylesheet" href="../Static/fontawesome/css/all.css">
 <link rel="stylesheet" href="../Static/footer.css">
 <!-- footer chung -->
 <body>
    <div id="footer">
        <!-- thong tin  -->
        <div id="top_footer">
            <!-- thong tin lien he -->
            <div class="elements" id="QuizClear">
                <p class="tieude special1">QuizClear</p>
                <div class="thongtinlienhe" style="margin-top: 0;">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>TP.Hồ Chí Minh</p>
                </div>
                <div class="thongtinlienhe">
                    <i class="fa-solid fa-phone-volume"></i>
                    <p>034600797</p>
                </div>
                <div class="thongtinlienhe">
                    <i class="fa-solid fa-envelope"></i>
                    <p>QuizClear</p>
                </div>
            </div>

            <!-- Features -->
            <div class="elements">
                <p class="tieude">Features</p>
                <p class="element">Question Bank</p>
                <p class="element">Duplicate Check</p>
                <p class="element">Exam Export</p>
                <p class="element">Approval Workflow</p>
            </div>

            <!-- Roles -->
            <div class="elements">
                <p class="tieude">Roles</p>
                <p class="element">Lecturer</p>
                <p class="element">Subject Leader</p>
                <p class="element">Head of Department</p>
                <p class="element">R&D Staff</p>
                <p class="element">Head of Examination Department</p>
            </div>
            <!-- Contact -->
            <div class="elements">
                <p class="tieude special2">Contact Us</p>
                <div id="icon">
                    <i class="fa-brands fa-facebook icon"></i>
                    <i class="fa-brands fa-twitter icon"></i>
                    <i class="fa-brands fa-instagram icon"></i>
                </div>
            </div>
        </div>
        <div id="line"></div>
        <!-- ban quyen -->
        <div id="bottom_footer">
            <i class="fa-regular fa-copyright"></i>
            <p>2025 QuizClear.All right reserved</p>
        </div>
    </div>
 </body>
