<!-- header cua trang chu -->
 <link rel="stylesheet" href="../Static/fontawesome/css/all.css">
 <link rel="stylesheet" href="../Static/header.css">
<body>
    <div id="header">
        <p id="LOGO"> QuizClear</p>
        <div id="element">
            <a class="Menu_elements" href="">Introduction</a>
            <a class="Menu_elements" href="">Features</a>
            <a class="Menu_elements" href="">Contact</a>
            <a class="Menu_elements" href="">Login</a>
            <i class="fa-solid fa-user icon-user"></i>
        </div>
    </div>
</body>