<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/FontAwesome/css/all.css">
    <link rel="stylesheet" href="../Static/header.css">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/HED/HED_profile.css">
    <title>Profile</title>
</head>

<body>
    <!--header-->
    <div id="header-placeholder"></div>



    <!-- body -->
    <div id="Container-body">
        <!-- Main content -->
        <div id="main">

            <button class="back-button" onclick="history.back();">
                <i class="fas fa-arrow-left"></i>
            </button>

            <div class="content-section">
                <div id="top">
                    <div class="personal-info">
                        <h2>Personal Information</h2>
                        <div class="info-item">
                            <label>Full Name</label>
                            <span th:text="${user.fullName}">Nguyen Van A</span>
                        </div>
                        <div style="display: flex;flex-direction: row;">
                            <div class="info-item" style="width: 48%;margin-right: 4%;">
                                <label>Gender</label>
                                <span th:text="${user.gender}">Male</span>
                            </div>
                            <div class="info-item" style="width: 48%;">
                                <label>Date of Birth</label>
                                <span th:text="${dates.format(user.dateOfBirth, 'dd/MM/yyyy')}">20/01/1999</span>
                            </div>
                        </div>
                        <div style="display: flex;flex-direction: row;">
                            <div class="info-item" style="width: 52%;margin-right: 4%;">
                                <label>Nation</label>
                                <span th:text="${user.nation}">Viet Nam</span>
                            </div>
                            <div class="info-item" style="width: 44%">
                                <label>Phone Number</label>
                                <span th:text="${user.phoneNumber}">0972051234</span>
                            </div>
                        </div>
                        <div class="info-item">
                            <label>Hometown</label>
                            <span th:text="${user.hometown}">No 70 To Ky Street, Tan Chanh Hiep Ward, District 12, Ho Chi Minh City</span>
                        </div>
                        <div class="info-item">
                            <label>Contact Address</label>
                            <span th:text="${user.contactAddress}">No 70 To Ky Street, Tan Chanh Hiep Ward, District 12, Ho Chi Minh City</span>
                        </div>
                    </div>

                    <div class="settings">
                        <h2>Settings</h2>
                        <div class="setting-item">
                            <div class="container">
                                <h3>Account</h3>
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <a href="#">Update Profile</a>
                            <a href="#">Change Password</a>
                        </div>
                        <div class="setting-item">
                            <div class="container">
                                <h3>Preferences</h3>
                                <i class="fa-solid fa-sliders"></i>
                            </div>
                            <a href="#">Notification</a>
                            <a href="#">Language</a>
                        </div>
                        <div class="setting-item">
                            <div class="container">
                                <h3>Privacy & Security</h3>
                                <i class="fa-solid fa-shield"></i>
                            </div>
                        </div>
                        <div class="setting-item">
                            <a href="#">Delete My Account</a>
                        </div>
                    </div>
                </div>

                <div class="work-info">
                    <h2>Work Information</h2>
                    <div style="display: flex;flex-direction: row;justify-content: space-between;">
                        <div class="info-item" style="width: 48%;">
                            <label>Teacher's Code</label>
                            <span>1001</span>
                        </div>
                        <div class="info-item" style="width: 48%;">
                            <label>Gmail</label>
                            <span th:text="${user.email}">nva1001@utd.vn</span>
                        </div>
                    </div>
                    <div style="display: flex;flex-direction: row;justify-content: space-between;">
                        <div class="info-item" style="width: 52%;">
                            <label>Position</label>
                            <span th:text="${user.roleDisplayName}">Head of Department</span>
                        </div>
                        <div class="info-item" style="width: 44%;">
                            <label>Department</label>
                            <span th:text="${user.department}">Information Technology</span>
                        </div>
                    </div>
                    <div style="display: flex;flex-direction: row;justify-content: space-between;">
                        <div class="info-item" style="width: 28%;">
                            <label>Start Year</label>
                            <span th:text="${dates.format(user.start, 'dd/MM/yyyy')}">20/4/2025</span>
                        </div>
                        <div class="info-item" style="width: 28%;">
                            <label>End Year</label>
                            <span th:text="${user.end == null ? '---' : #dates.format(user.end, 'dd/MM/yyyy')}">---</span>
                        </div>
                        <div class="info-item" style="width: 28%;">
                            <label>Status</label>
                            <span th:text="${user.status}">Ongoing</span>
                        </div>
                    </div>
                    <div class="info-item">
                        <label>Qualification</label>
                        <span th:text="${user.qualification}">MS in Information Technology - University of Transport and Communications, Vietnam -
                            2012</span>
                    </div>
                    <div class="info-item">
                        <label>Workplace</label>
                        <span th:text="${user.workPlace}">University of Transport and Communications, Campus 3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- ma nhung header vs menu -->
    <script>
        // Load header
            fetch('../Template/header_user.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header-placeholder').innerHTML = data;
                });

    </script>
</body>

</html>