<link rel="stylesheet" href="../Static/fontawesome/css/all.css">
<link rel="stylesheet" href="../Static/Menu-Staff.css">
<div id="Menu-Staff">
    <div style="padding: 1rem;">
        <div class="elements active">
            <i class="fa-solid fa-house "></i>

            <a href="staffDashboard.html">Dashboard</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-book"></i>
            <a href="staffSMCourseList.html">Subject Management</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-file-circle-question"></i>
            <a href="staffQMQuestionBank.html">Question Management</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-copy"></i>
            <a href="staffDuplicationCheck.html">Duplication</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-file"></i>
            <a href="staffExamManager.html">Exam Management</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-chart-simple"></i>
            <a href="staffStatReport.html">Statics & Reporting</a>
        </div>
    </div>

</div>