<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/Static/fontawesome/css/all.css}" />
    <link rel="stylesheet" th:href="@{/Static/Menu-Staff.css}" />
</head>
<body>
<div id="Menu-Staff" th:fragment="menu">
    <div style="padding: 1rem;">        <div class="elements active">
            <i class="fa-solid fa-house"></i>
            <a th:href="@{/staff-dashboard}">Dashboard</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-book"></i>
            <a th:href="@{/subject-management}">Subject Management</a>
        </div>        <div class="elements">
            <i class="fa-solid fa-file-circle-question"></i>
            <a th:href="@{/staff/question-management}">Question Management</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-copy"></i>
            <a th:href="@{/staff/duplications}">Duplication</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-file"></i>
            <a th:href="@{/staff/exams/all-exams}">Exam Management</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-chart-simple"></i>
            <a th:href="@{/staff/statistics}">Statistics & Reporting</a>
        </div>
    </div>
</div>
</body>
</html>