<link rel="stylesheet" href="../Static/fontawesome/css/all.css">
<link rel="stylesheet" href="../Static/Menu-Staff.css">
<div id="Menu-Staff">
    <div style="padding: 1rem;">
        <div class="elements active" >
            <i class="fa-solid fa-house "></i>
            <a href="">Dashboard</a>
        </div>
        <div class="elements" >
            <i class="fa-solid fa-book"></i>
            <a href="">Subject Management</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-file-circle-question"></i>
            <a href="">Question Planning</a>
        </div>
        <div class="elements">
            <i class="fa-regular fa-copy"></i>
            <a href="">Duplication</a>
        </div>
        <div class="elements">
            <i class="fa-regular fa-file-lines"></i>
            <a href="">Exam Management</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-chart-line"></i>
            <a href="">Statics & Reporting</a>
        </div>
    </div>

</div>