<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/Static/FontAwesome/css/all.css}">
        <link rel="stylesheet" th:href="@{/Static/header.css}">
        <link rel="stylesheet" th:href="@{/Static/web_styles.css}">
        <link
            href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap"
            rel="stylesheet">
        <title>Template</title>
    </head>

    <body>
        <!--header-->
        <div th:replace="~{/Template/header_user.html}"></div>

        <!-- body -->
        <div id="Container-body">
            <!-- Menu -->
            <div th:replace="~{/Template/Lecturer/Menu-Lecturer.html}"></div>

            <!-- Main content -->
            <div id="main">
                <!-- noi dung duoc nhap trong day -->

            </div>
        </div>
    </body>
</html>