<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../Static/FontAwesome/css/all.css">
        <link rel="stylesheet" href="../../Static/header.css">
        <link rel="stylesheet" href="../../Static/web_styles.css">
        <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
        <title>Template</title>
    </head>

    <body>
        <!--header-->
        <div id="header-placeholder"></div>
        <!-- body -->
        <div id="Container-body">
            <!-- Menu -->
            <div id="menu-HTML"></div>


            <!-- Main content -->
            <div id="main">
               <!-- noi dung duoc nhap trong day -->
                
            </div>
        </div>
        <!-- ma nhung header vs menu -->
        <script>
            // Load header
            fetch('../../Template/header_user.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header-placeholder').innerHTML = data;
                });

            // Load menu
            fetch('Menu-Lecturer.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('menu-HTML').innerHTML = data;
                });

        </script>
    </body>
</html>