* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER CHUNG */
#header, #header-user {
    width: 100%;
    height: 6.5vh; /* Tự co theo chiều cao màn hình */
    min-height: 70px; /* Đảm bảo không quá nhỏ */
    background-color: #120368;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5vw;
    gap: 5vw;
}


#LOGO {
    color: white;
    font-size: 2rem; 
    font-weight: bold;
    margin-right: 20vw;
}

/* NAVIGATION (phần menu) */
#header #element, #header-user #element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7vw; 
    flex-wrap: wrap;
}

/* MỤC MENU */
.Menu_elements {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

/* ICON USER (AVATAR) */
.icon-user {
    width: 2.5rem;
    height: 2.5rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
}
#header-user #element {
    margin-left: 45vw;
}
#header-user #element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw; 
    flex-wrap: wrap;
}