* {
    font-family: 'roboto', sans-serif;
    margin: 0;
    border: 0;
}

#Menu-Staff {
    width: 18vw;
    height: 100%;
    background-color: #E0EAFA;
}

#Menu-Staff .elements {
    padding: 1rem;
    display: flex;
    border-radius: 20px;
}

#Menu-Staff a,
#Menu-Staff i {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

#Menu-Staff a {
    margin-left: 1em;
}

/* #Menu-Staff .elements {
    background-color: #C6DCFF;

}
#Menu-Staff a,#Menu-Staff i {
    text-decoration: none;
    color: #0088F0;
    font-weight: 600;
    font-size: 1.5rem;
}
    #Menu-Staff .elements.active {
    background-color: #C6DCFF;
    font-weight: 600;
}

#Menu-Staff .elements.active a,
#Menu-Staff .elements.active i {
    color: #0088F0;
}
    */
#Menu-Staff .elements.active {
    text-decoration: none;
    color: #0088F0;
    font-weight: 600;
    font-size: 1rem;
    background-color: #C6DCFF;
    border-radius: 20px;
}

#Menu-Staff .elements.active a,
#Menu-Staff .elements.active i {
    color: #0088F0;
    font-weight: 600;
}

#Menu-Staff .elements:hover {
    color: #0088F0;
    background-color: #C6DCFF;
    border-radius: 20px;
}