#main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-width: 70vw;
}

.Step-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 20px auto;
}

.Step-Container .step {
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #E5E7EB;
    color: #4B5563;
    margin-bottom: 10px;
}

.Step-Container p {
    color: #4B5563;
    font-size: 12px;
}

/* buoc dang duoc thuc thi */
.Step-Container .Step_continue {
    background-color: #3B82F6;
    color: white;
}

.Step-Container_continue {
    border-bottom: 2px solid #2563EB
}

.Step-Container .p_continue {
    color: #2563EB;
}

/* buoc da duoc thuc thi */
.Step-Container .Step_done {
    background-color: #22C55E;
    color: white;
}

.Step-Container_done {
    border-bottom: 2px solid #22C55E
}

.Step-Container .p_done {
    color: #22C55E;
}

#content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
}

#content-container #content {
    margin-left: 30px;
}

#content-container #top-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#content-container #left-content,
#content-container #right-content {
    width: 48%;
    margin-right: 4%;
}

#content-container p {
    font-size: 12px;
}

#top-content input,
#top-content select {
    width: 100%;
    padding: 8px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    font-size: 14px;
}

#Description,
#Instructions {
    width: 100%;
    max-width: 100%;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
}

#Description {
    box-sizing: border-box;
    vertical-align: top;
}

#button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#button-container button {
    height: 42px;
    width: 100px;
    padding: 10px 5px;
    font-size: 14px;
    color: white;
    background-color: #2563EB;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#button-container button[title="Cancel"] {
    background-color: white;
    color: #374151;
    border: 1px solid #D1D5DB;
}

/* ======================================= */



/* buoc 2 */
.range-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.range-value {
    position: absolute;
    top: -2px;
    left: 92%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #6B7280;
}

.to-work,
#total-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.to-work .work {
    width: 49%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    font-size: 12px;
}

#total-container .total {
    width: 49%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}

#total-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}

.custom-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #3B82F6 50%, #DBEAFE 50%);
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease;
}

/* Chrome, Safari, Edge */
.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    background: #fff;
    border: 2px solid #3B82F6;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -3px;
    /* để thumb nằm giữa track */
}

/* Firefox */
.custom-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #3B82F6;
    border-radius: 50%;
    cursor: pointer;
}

/* Firefox track */
.custom-slider::-moz-range-track {
    background: #DBEAFE;
    height: 8px;
    border-radius: 5px;
}

.colum-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colum-container .colum {
    max-height: 100px;
    height: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    background-color: #3B82F6;
}

.colum-container p {
    font-size: 11px;
    font-weight: 400;
}

.Question-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
}

.Question-container p {
    font-size: 12px;
    font-weight: 400;
}

.Question-container select {
    width: 99%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    font-size: 14px;
}

.tick-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

/* Kiểu dáng tổng thể */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Ẩn checkbox gốc */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Thanh trượt */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* Nút tròn bên trong */
.slider::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    top: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Khi checkbox được bật (checked) */
input:checked+.slider {
    background-color: #2563EB;
}

/* Di chuyển nút tròn sang phải */
input:checked+.slider::before {
    transform: translateX(18px);
}

.text .text-title {
    font-size: 14px;
    font-weight: 400;
}
.text .text-conten {
    font-size: 11px;
    font-weight: 400;
    color: #6B7280;
}

/* ============================= */
/* =========Step3=========== */

.Assign-Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Assign-Container .Assign-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Assign-Container i {
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: #6B7280;
    margin-right: 10px;
}

.Assign-Container .Assign-name {
    font-size: 12px;
    font-weight: 450;
}

.Assign-Container .Assign-title {
    font-size: 10px;
    font-weight: 450;
    color: #6B7280;
}
.Assign-Container select {
    margin-left: auto;
    min-width: 200px;
    height: 38px;
    width: 20%;
    align-items: center;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
}

#Deadline-Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 5%;
}

#Deadline-Container p {
    font-size: 12px;
    font-weight: 450;
}
#Deadline-Container .Deadlines {
    min-width: 50%;
}
#Deadline-Container input {
    width: 90%;
    height: 42px;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 10px;
}

#warning {
    width: 100%;
    height: 74px;
    display: flex;
    flex-direction: row;
    background-color: #FEFCE8;
    border: 1px solid #FEF08A;
    border-radius: 6px;
    align-items: center;
    padding-left: 20px;
    margin: 10px 0;
}


#warning i {
    margin-right: 5px;
    color: #EAB308;
    width: 20px;
    height: 20px;
}

.setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.setting .text-Title {
    font-size: 12px;
}
.setting .text-content {
    font-size: 10px;
    color: #6B7280;
}

input:focus {
    outline: none;
    border: none;
}

/* ================================ */
/* ===========STEP4=========== */

#infor-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    margin-bottom: 20px;
}

#infor-Container #left-infor,
#infor-Container #right-infor {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#infor-Container .title {
    font-size: 12px;
    color: #6B7280;
    margin-top: 10px;
}
#infor-Container .content {
    font-size: 14px;
    margin-top: 3px;
}

#colum-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px
}

#colum-container #left-container,
#colum-container #right-container {
    width: 48%;
    border: 1px solid #E5E7EB;;
    border-radius: 8px;
    height: 200px;
    padding: 15px;
}

#colum-container #left-container > div,
#colum-container #right-container > div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 120px;
    padding-bottom: 15px;
    justify-content: flex-end; /* Đẩy nội dung xuống đáy */
    height: 100%;
}

#colum-container .colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#colum-container #colum-basic {
    background-color: #4CAF50;
    width: 59px;
}
#colum-container #colum-intermediate {
    background-color: #2196F3;
    width: 59px;
}
#colum-container #colum-advanced {
    background-color: #FF9800;
    width: 59px;
}

#colum-container #colum-expert {
    background-color: #F44336;
    width: 59px;
}
#right-container #colum-CLO1,
#right-container #colum-CLO2,
#right-container #colum-CLO3,
#right-container #colum-CLO4 {
    width: 46px;
    background-color: #3B82F6;
}


#assigned-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 224px;
    padding: 15px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
}

.ASS {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ASS >div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ASS img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.ASS .name-user {
    font-size: 14px;
}

.ASS .Assign-name {
    color: #6B7280;
}