@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

#Container-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  gap: 2rem;
}
