-- MySQL dump 10.13  Distrib 8.0.42, for Linux (x86_64)
--
-- Host: localhost    Database: QuizClear
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Activity_logs`
--

DROP TABLE IF EXISTS `Activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Activity_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `activity` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `Activity_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Activity_logs`
--

LOCK TABLES `Activity_logs` WRITE;
/*!40000 ALTER TABLE `Activity_logs` DISABLE KEYS */;
INSERT INTO `Activity_logs` VALUES (1,1,'Created a new course','2025-06-06 09:24:37'),(2,4,'Submitted a question','2025-06-06 09:24:37'),(3,6,'Reviewed an exam','2025-06-06 09:24:37'),(4,7,'Assigned a task','2025-06-06 09:24:37');
/*!40000 ALTER TABLE `Activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CLOs`
--

DROP TABLE IF EXISTS `CLOs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `CLOs` (
  `clo_id` int NOT NULL AUTO_INCREMENT,
  `course_id` int NOT NULL,
  `clo_code` varchar(50) NOT NULL,
  `difficulty_level` enum('recognition','comprehension','Basic Application','Advanced Application') NOT NULL,
  `weight` decimal(5,2) DEFAULT NULL,
  `clo_note` text,
  `clo_description` text,
  PRIMARY KEY (`clo_id`),
  KEY `course_id` (`course_id`),
  CONSTRAINT `CLOs_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `Courses` (`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CLOs`
--

LOCK TABLES `CLOs` WRITE;
/*!40000 ALTER TABLE `CLOs` DISABLE KEYS */;
/*!40000 ALTER TABLE `CLOs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Comments`
--

DROP TABLE IF EXISTS `Comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Comments` (
  `comment_id` int NOT NULL AUTO_INCREMENT,
  `submission_id` int NOT NULL,
  `commenter_id` int NOT NULL,
  `comment` text NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`comment_id`),
  KEY `submission_id` (`submission_id`),
  KEY `commenter_id` (`commenter_id`),
  CONSTRAINT `Comments_ibfk_1` FOREIGN KEY (`submission_id`) REFERENCES `ExamSubmissions` (`submission_id`),
  CONSTRAINT `Comments_ibfk_2` FOREIGN KEY (`commenter_id`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Comments`
--

LOCK TABLES `Comments` WRITE;
/*!40000 ALTER TABLE `Comments` DISABLE KEYS */;
INSERT INTO `Comments` VALUES (1,1,3,'Good question','2025-06-06 09:17:59'),(2,2,2,'Please revise the answer','2025-06-06 09:17:59'),(3,3,1,'Excellent explanation','2025-06-06 09:17:59'),(4,4,5,'Needs more details','2025-06-06 09:17:59'),(5,1,3,'Good question','2025-06-06 09:24:20'),(6,2,2,'Please revise the answer','2025-06-06 09:24:20'),(7,3,1,'Excellent explanation','2025-06-06 09:24:20'),(8,4,5,'Needs more details','2025-06-06 09:24:20');
/*!40000 ALTER TABLE `Comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Courses`
--

DROP TABLE IF EXISTS `Courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Courses` (
  `course_id` int NOT NULL AUTO_INCREMENT,
  `course_code` varchar(50) NOT NULL,
  `course_name` varchar(255) NOT NULL,
  `credits` tinyint DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `description` text,
  `created_by` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `course_note` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`course_id`),
  UNIQUE KEY `course_code` (`course_code`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `Courses_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Courses`
--

LOCK TABLES `Courses` WRITE;
/*!40000 ALTER TABLE `Courses` DISABLE KEYS */;
INSERT INTO `Courses` VALUES (1,'CS101','Introduction to Computer Science',3,'IT','Basic concepts of computer science',1,'2025-06-06 09:17:23','Note 1'),(2,'EN201','English for IT',2,'Foreign Language','English language for IT students',1,'2025-06-06 09:17:23','Note 2'),(3,'MATH301','Discrete Mathematics',3,'Math','Mathematical foundations for computer science',2,'2025-06-06 09:17:23','Note 3'),(4,'PHY101','Physics for Engineers',2,'Physics','Basic physics for engineering students',3,'2025-06-06 09:17:23','Note 4');
/*!40000 ALTER TABLE `Courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DuplicateDetections`
--

DROP TABLE IF EXISTS `DuplicateDetections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DuplicateDetections` (
  `detection_id` int NOT NULL AUTO_INCREMENT,
  `new_question_id` int NOT NULL,
  `similar_question_id` int NOT NULL,
  `similarity_score` decimal(5,2) NOT NULL,
  `status` enum('pending','accepted','rejected','sent_back','merged') DEFAULT 'pending',
  `action` enum('accept','reject','send_back','merged') DEFAULT NULL,
  `feedback` text,
  `detected_by` int DEFAULT NULL,
  `processed_by` int DEFAULT NULL,
  `detected_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `processed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`detection_id`),
  KEY `new_question_id` (`new_question_id`),
  KEY `similar_question_id` (`similar_question_id`),
  KEY `detected_by` (`detected_by`),
  KEY `processed_by` (`processed_by`),
  CONSTRAINT `DuplicateDetections_ibfk_1` FOREIGN KEY (`new_question_id`) REFERENCES `Questions` (`question_id`),
  CONSTRAINT `DuplicateDetections_ibfk_2` FOREIGN KEY (`similar_question_id`) REFERENCES `Questions` (`question_id`),
  CONSTRAINT `DuplicateDetections_ibfk_3` FOREIGN KEY (`detected_by`) REFERENCES `Users` (`user_id`),
  CONSTRAINT `DuplicateDetections_ibfk_4` FOREIGN KEY (`processed_by`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DuplicateDetections`
--

LOCK TABLES `DuplicateDetections` WRITE;
/*!40000 ALTER TABLE `DuplicateDetections` DISABLE KEYS */;
INSERT INTO `DuplicateDetections` VALUES (1,2,1,80.00,'pending',NULL,'Possible duplicate',1,NULL,'2025-06-06 09:24:40',NULL),(2,3,2,60.00,'accepted','accept','Confirmed duplicate',1,2,'2025-06-06 09:24:40',NULL),(3,4,8,75.00,'rejected','reject','Not a duplicate',2,3,'2025-06-06 09:24:40',NULL),(4,5,9,90.00,'merged','merged','Merged into one question',1,4,'2025-06-06 09:24:40',NULL);
/*!40000 ALTER TABLE `DuplicateDetections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ExamQuestions`
--

DROP TABLE IF EXISTS `ExamQuestions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ExamQuestions` (
  `exam_question_id` int NOT NULL AUTO_INCREMENT,
  `exam_id` int NOT NULL,
  `question_id` int NOT NULL,
  PRIMARY KEY (`exam_question_id`),
  KEY `exam_id` (`exam_id`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `ExamQuestions_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `Exams` (`exam_id`),
  CONSTRAINT `ExamQuestions_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `Questions` (`question_id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ExamQuestions`
--

LOCK TABLES `ExamQuestions` WRITE;
/*!40000 ALTER TABLE `ExamQuestions` DISABLE KEYS */;
INSERT INTO `ExamQuestions` VALUES (1,1,1),(2,1,2),(3,1,6),(4,2,3),(5,2,7),(6,3,4),(7,3,8),(8,4,5),(9,4,9),(10,1,1),(11,1,2),(12,1,6),(13,2,3),(14,2,7),(15,3,4),(16,3,8),(17,4,5),(18,4,9);
/*!40000 ALTER TABLE `ExamQuestions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ExamReview`
--

DROP TABLE IF EXISTS `ExamReview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ExamReview` (
  `review_id` int NOT NULL AUTO_INCREMENT,
  `exam_id` int NOT NULL,
  `reviewer_id` int NOT NULL,
  `score` decimal(5,2) DEFAULT NULL,
  `comments` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`review_id`),
  KEY `exam_id` (`exam_id`),
  KEY `reviewer_id` (`reviewer_id`),
  CONSTRAINT `ExamReview_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `Exams` (`exam_id`),
  CONSTRAINT `ExamReview_ibfk_2` FOREIGN KEY (`reviewer_id`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ExamReview`
--

LOCK TABLES `ExamReview` WRITE;
/*!40000 ALTER TABLE `ExamReview` DISABLE KEYS */;
INSERT INTO `ExamReview` VALUES (1,1,2,8.50,'Good exam','2025-06-06 09:24:33'),(2,2,3,7.00,'Needs improvement','2025-06-06 09:24:33'),(3,3,6,9.00,'Excellent','2025-06-06 09:24:33'),(4,4,7,6.50,'Needs more advanced questions','2025-06-06 09:24:33');
/*!40000 ALTER TABLE `ExamReview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ExamSubmissions`
--

DROP TABLE IF EXISTS `ExamSubmissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ExamSubmissions` (
  `submission_id` int NOT NULL AUTO_INCREMENT,
  `submitted_by` int NOT NULL,
  `course_id` int NOT NULL,
  `status` enum('submitted','reviewed','approved') NOT NULL DEFAULT 'submitted',
  `submitted_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`submission_id`),
  KEY `submitted_by` (`submitted_by`),
  KEY `course_id` (`course_id`),
  CONSTRAINT `ExamSubmissions_ibfk_1` FOREIGN KEY (`submitted_by`) REFERENCES `Users` (`user_id`),
  CONSTRAINT `ExamSubmissions_ibfk_2` FOREIGN KEY (`course_id`) REFERENCES `Courses` (`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ExamSubmissions`
--

LOCK TABLES `ExamSubmissions` WRITE;
/*!40000 ALTER TABLE `ExamSubmissions` DISABLE KEYS */;
INSERT INTO `ExamSubmissions` VALUES (1,4,1,'submitted','2025-06-06 09:17:50'),(2,6,2,'submitted','2025-06-06 09:17:50'),(3,7,3,'reviewed','2025-06-06 09:17:50'),(4,4,4,'approved','2025-06-06 09:17:50'),(5,4,1,'submitted','2025-06-06 09:24:11'),(6,6,2,'submitted','2025-06-06 09:24:11'),(7,7,3,'reviewed','2025-06-06 09:24:11'),(8,4,4,'approved','2025-06-06 09:24:11');
/*!40000 ALTER TABLE `ExamSubmissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Exams`
--

DROP TABLE IF EXISTS `Exams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Exams` (
  `exam_id` int NOT NULL AUTO_INCREMENT,
  `course_id` int NOT NULL,
  `plan_id` int DEFAULT NULL,
  `exam_title` varchar(255) NOT NULL,
  `exam_code` varchar(100) DEFAULT NULL,
  `duration_minutes` int DEFAULT NULL,
  `difficulty_distribution` json DEFAULT NULL,
  `status` enum('draft','submitted','approved','finalized') NOT NULL DEFAULT 'draft',
  `created_by` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `hidden` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`exam_id`),
  UNIQUE KEY `exam_code` (`exam_code`),
  KEY `course_id` (`course_id`),
  KEY `plan_id` (`plan_id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `Exams_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `Courses` (`course_id`),
  CONSTRAINT `Exams_ibfk_2` FOREIGN KEY (`plan_id`) REFERENCES `Plans` (`plan_id`),
  CONSTRAINT `Exams_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Exams`
--

LOCK TABLES `Exams` WRITE;
/*!40000 ALTER TABLE `Exams` DISABLE KEYS */;
/*!40000 ALTER TABLE `Exams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `FeedbackExam`
--

DROP TABLE IF EXISTS `FeedbackExam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `FeedbackExam` (
  `feedback_id` int NOT NULL AUTO_INCREMENT,
  `exam_id` int NOT NULL,
  `user_id` int NOT NULL,
  `feedback_text` text NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`feedback_id`),
  KEY `exam_id` (`exam_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `FeedbackExam_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `Exams` (`exam_id`),
  CONSTRAINT `FeedbackExam_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `FeedbackExam`
--

LOCK TABLES `FeedbackExam` WRITE;
/*!40000 ALTER TABLE `FeedbackExam` DISABLE KEYS */;
INSERT INTO `FeedbackExam` VALUES (1,1,4,'The exam is reasonable','2025-06-06 09:24:30'),(2,2,3,'Please add more difficult questions','2025-06-06 09:24:30'),(3,3,6,'Great structure','2025-06-06 09:24:30'),(4,4,7,'Too many easy questions','2025-06-06 09:24:30');
/*!40000 ALTER TABLE `FeedbackExam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Notifications`
--

DROP TABLE IF EXISTS `Notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Notifications` (
  `notification_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `content` text NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `is_read` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`notification_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `Notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Notifications`
--

LOCK TABLES `Notifications` WRITE;
/*!40000 ALTER TABLE `Notifications` DISABLE KEYS */;
INSERT INTO `Notifications` VALUES (1,4,'You have been assigned a new task','2025-06-06 09:18:03',0),(2,3,'You have a new comment','2025-06-06 09:18:03',0),(3,6,'Your submission has been reviewed','2025-06-06 09:18:03',0),(4,7,'You have a new assignment','2025-06-06 09:18:03',0),(5,4,'You have been assigned a new task','2025-06-06 09:24:24',0),(6,3,'You have a new comment','2025-06-06 09:24:24',0),(7,6,'Your submission has been reviewed','2025-06-06 09:24:24',0),(8,7,'You have a new assignment','2025-06-06 09:24:24',0);
/*!40000 ALTER TABLE `Notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `PlanAssignments`
--

DROP TABLE IF EXISTS `PlanAssignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `PlanAssignments` (
  `assignment_id` int NOT NULL AUTO_INCREMENT,
  `plan_id` int NOT NULL,
  `assigned_to` int NOT NULL,
  `assigned_by` int NOT NULL,
  `assigned_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`assignment_id`),
  KEY `plan_id` (`plan_id`),
  KEY `assigned_to` (`assigned_to`),
  KEY `assigned_by` (`assigned_by`),
  CONSTRAINT `PlanAssignments_ibfk_1` FOREIGN KEY (`plan_id`) REFERENCES `Plans` (`plan_id`),
  CONSTRAINT `PlanAssignments_ibfk_2` FOREIGN KEY (`assigned_to`) REFERENCES `Users` (`user_id`),
  CONSTRAINT `PlanAssignments_ibfk_3` FOREIGN KEY (`assigned_by`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `PlanAssignments`
--

LOCK TABLES `PlanAssignments` WRITE;
/*!40000 ALTER TABLE `PlanAssignments` DISABLE KEYS */;
INSERT INTO `PlanAssignments` VALUES (1,1,4,1,'2025-06-06 09:17:47'),(2,2,6,1,'2025-06-06 09:17:47'),(3,3,7,2,'2025-06-06 09:17:47'),(4,4,4,3,'2025-06-06 09:17:47'),(5,1,4,1,'2025-06-06 09:24:06'),(6,2,6,1,'2025-06-06 09:24:06'),(7,3,7,2,'2025-06-06 09:24:06'),(8,4,4,3,'2025-06-06 09:24:06');
/*!40000 ALTER TABLE `PlanAssignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Plans`
--

DROP TABLE IF EXISTS `Plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Plans` (
  `plan_id` int NOT NULL AUTO_INCREMENT,
  `course_id` int NOT NULL,
  `total_questions` int DEFAULT NULL,
  `total_remembeQuestion` int DEFAULT NULL,
  `total_understandQuestion` int DEFAULT NULL,
  `total_apply_basic` int DEFAULT NULL,
  `total_apply_advanced` int DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `assigned_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`plan_id`),
  KEY `course_id` (`course_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `Plans_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `Courses` (`course_id`),
  CONSTRAINT `Plans_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Plans`
--

LOCK TABLES `Plans` WRITE;
/*!40000 ALTER TABLE `Plans` DISABLE KEYS */;
INSERT INTO `Plans` VALUES (1,1,10,3,3,2,2,1,'2025-06-06 09:17:37'),(2,2,8,2,2,2,2,1,'2025-06-06 09:17:37'),(3,3,12,4,4,2,2,2,'2025-06-06 09:17:37'),(4,4,6,2,2,1,1,3,'2025-06-06 09:17:37'),(5,1,10,3,3,2,2,1,'2025-06-06 09:23:49'),(6,2,8,2,2,2,2,1,'2025-06-06 09:23:49'),(7,3,12,4,4,2,2,2,'2025-06-06 09:23:49'),(8,4,6,2,2,1,1,3,'2025-06-06 09:23:49');
/*!40000 ALTER TABLE `Plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `QuestionSimilarity`
--

DROP TABLE IF EXISTS `QuestionSimilarity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `QuestionSimilarity` (
  `id` int NOT NULL AUTO_INCREMENT,
  `question1_id` int NOT NULL,
  `question2_id` int NOT NULL,
  `similarity_score` decimal(5,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `question1_id` (`question1_id`),
  KEY `question2_id` (`question2_id`),
  CONSTRAINT `QuestionSimilarity_ibfk_1` FOREIGN KEY (`question1_id`) REFERENCES `Questions` (`question_id`),
  CONSTRAINT `QuestionSimilarity_ibfk_2` FOREIGN KEY (`question2_id`) REFERENCES `Questions` (`question_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `QuestionSimilarity`
--

LOCK TABLES `QuestionSimilarity` WRITE;
/*!40000 ALTER TABLE `QuestionSimilarity` DISABLE KEYS */;
INSERT INTO `QuestionSimilarity` VALUES (1,1,2,80.00),(2,2,3,60.00),(3,4,8,75.00),(4,5,9,90.00);
/*!40000 ALTER TABLE `QuestionSimilarity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Questions`
--

DROP TABLE IF EXISTS `Questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Questions` (
  `question_id` int NOT NULL AUTO_INCREMENT,
  `course_id` int NOT NULL,
  `clo_id` int NOT NULL,
  `task_id` int DEFAULT NULL,
  `difficulty_level` enum('recognition','comprehension','Basic Application','Advanced Application') NOT NULL,
  `content` text NOT NULL,
  `answer_key` text NOT NULL,
  `answer_f1` text,
  `answer_f2` text,
  `answer_f3` text,
  `explanation` text,
  `created_by` int DEFAULT NULL,
  `status` enum('draft','approved','rejected') NOT NULL DEFAULT 'draft',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `block_question` enum('block','active') NOT NULL DEFAULT 'active',
  `hidden_question` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`question_id`),
  KEY `course_id` (`course_id`),
  KEY `clo_id` (`clo_id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `Questions_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `Courses` (`course_id`),
  CONSTRAINT `Questions_ibfk_2` FOREIGN KEY (`clo_id`) REFERENCES `CLOs` (`clo_id`),
  CONSTRAINT `Questions_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Questions`
--

LOCK TABLES `Questions` WRITE;
/*!40000 ALTER TABLE `Questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `Questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SubmissionQuestions`
--

DROP TABLE IF EXISTS `SubmissionQuestions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SubmissionQuestions` (
  `submission_question_id` int NOT NULL AUTO_INCREMENT,
  `submission_id` int NOT NULL,
  `course_id` int NOT NULL,
  `question_id` int NOT NULL,
  PRIMARY KEY (`submission_question_id`),
  KEY `submission_id` (`submission_id`),
  KEY `course_id` (`course_id`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `SubmissionQuestions_ibfk_1` FOREIGN KEY (`submission_id`) REFERENCES `ExamSubmissions` (`submission_id`),
  CONSTRAINT `SubmissionQuestions_ibfk_2` FOREIGN KEY (`course_id`) REFERENCES `Courses` (`course_id`),
  CONSTRAINT `SubmissionQuestions_ibfk_3` FOREIGN KEY (`question_id`) REFERENCES `Questions` (`question_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SubmissionQuestions`
--

LOCK TABLES `SubmissionQuestions` WRITE;
/*!40000 ALTER TABLE `SubmissionQuestions` DISABLE KEYS */;
INSERT INTO `SubmissionQuestions` VALUES (1,1,1,1),(2,1,1,2),(3,2,2,3),(4,2,2,7),(5,3,3,4),(6,3,3,8),(7,4,4,5),(8,4,4,9),(9,1,1,1),(10,1,1,2),(11,2,2,3),(12,2,2,7),(13,3,3,4),(14,3,3,8),(15,4,4,5),(16,4,4,9);
/*!40000 ALTER TABLE `SubmissionQuestions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Tasks`
--

DROP TABLE IF EXISTS `Tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Tasks` (
  `task_id` int NOT NULL AUTO_INCREMENT,
  `course_id` int DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `description` text,
  `total_remembeQuestion` int DEFAULT NULL,
  `total_understandQuestion` int DEFAULT NULL,
  `total_apply_basic` int DEFAULT NULL,
  `total_apply_advanced` int DEFAULT NULL,
  `assigned_to` int DEFAULT NULL,
  `assigned_by` int DEFAULT NULL,
  `assigned_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`task_id`),
  KEY `course_id` (`course_id`),
  KEY `assigned_to` (`assigned_to`),
  KEY `assigned_by` (`assigned_by`),
  CONSTRAINT `Tasks_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `Courses` (`course_id`),
  CONSTRAINT `Tasks_ibfk_2` FOREIGN KEY (`assigned_to`) REFERENCES `Users` (`user_id`),
  CONSTRAINT `Tasks_ibfk_3` FOREIGN KEY (`assigned_by`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Tasks`
--

LOCK TABLES `Tasks` WRITE;
/*!40000 ALTER TABLE `Tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `Tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Users`
--

DROP TABLE IF EXISTS `Users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `full_name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('R&D','HoD','SL','Lec','HoED') NOT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `department` varchar(255) DEFAULT NULL,
  `start` datetime DEFAULT NULL,
  `end` datetime DEFAULT NULL,
  `gender` enum('male','female','other') DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `nation` varchar(100) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `hometown` varchar(255) DEFAULT NULL,
  `contact_address` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Users`
--

LOCK TABLES `Users` WRITE;
/*!40000 ALTER TABLE `Users` DISABLE KEYS */;
/*!40000 ALTER TABLE `Users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-06-06  9:39:18
