#main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-width: 70vw;
}

.Step-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 1.25rem auto;
}

.Step-Container .step {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #E5E7EB;
    color: #4B5563;
    margin-bottom: 0.625rem;
}

.Step-Container p {
    color: #4B5563;
    font-size: 0.75rem;
}

/* buoc dang duoc thuc thi */
.Step-Container .Step_continue {
    background-color: #3B82F6;
    color: white;
}

.Step-Container_continue {
    border-bottom: 0.125rem solid #2563EB;
}

.Step-Container .p_continue {
    color: #2563EB;
}

/* buoc da duoc thuc thi */
.Step-Container .Step_done {
    background-color: #22C55E;
    color: white;
}

.Step-Container_done {
    border-bottom: 0.125rem solid #22C55E;
}

.Step-Container .p_done {
    color: #22C55E;
}

#content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.25rem;
    border: 0.0625rem solid #D1D5DB;
    border-radius: 0.5rem;
}

#content-container #content {
    margin-left: 1.875rem;
}

#content-container #top-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.25rem;
}

#content-container #left-content,
#content-container #right-content {
    width: 48%;
    margin-right: 4%;
}

#content-container p {
    font-size: 0.75rem;
}

#top-content input,
#top-content select {
    width: 100%;
    padding: 0.5rem;
    padding-right: 0.625rem;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    border: 0.0625rem solid #D1D5DB;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

#Description,
#Instructions {
    width: 100%;
    max-width: 100%;
    border: 0.0625rem solid #D1D5DB;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    margin-top: 0.625rem;
    padding: 0.625rem;
}

#Description {
    box-sizing: border-box;
    vertical-align: top;
}

#button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
}

#button-container button {
    height: 2.625rem;
    width: 6.25rem;
    padding: 0.625rem 0.3125rem;
    font-size: 0.875rem;
    color: white;
    background-color: #2563EB;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

#button-container button[title="Cancel"] {
    background-color: white;
    color: #374151;
    border: 0.0625rem solid #D1D5DB;
}

/* ======================================= */

/* buoc 2 */
.range-container {
    position: relative;
    width: 100%;
    margin-bottom: 0.625rem;
}

.range-value {
    position: absolute;
    top: -0.125rem;
    left: 92%;
    transform: translateX(-50%);
    font-size: 0.75rem;
    color: #6B7280;
}

.to-work,
#total-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 1.25rem;
}

.to-work .work {
    width: 49%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid #E5E7EB;
    border-radius: 0.375rem;
    font-size: 0.75rem;
}

#total-container .total {
    width: 49%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.75rem;
}

#total-container input {
    width: 100%;
    padding: 0.625rem;
    border: 0.0625rem solid #D1D5DB;
    border-radius: 0.25rem;
    font-size: 1rem;
    margin-top: 0.625rem;
}

.custom-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5rem;
    background: linear-gradient(to right, #3B82F6 50%, #DBEAFE 50%);
    border-radius: 0.3125rem;
    outline: none;
    transition: background 0.3s ease;
}

/* Chrome, Safari, Edge */
.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.0625rem;
    height: 1.0625rem;
    background: #fff;
    border: 0.125rem solid #3B82F6;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -0.1875rem; /* để thumb nằm giữa track */
}

/* Firefox */
.custom-slider::-moz-range-thumb {
    width: 1.25rem;
    height: 1.25rem;
    background: #fff;
    border: 0.125rem solid #3B82F6;
    border-radius: 50%;
    cursor: pointer;
}

/* Firefox track */
.custom-slider::-moz-range-track {
    background: #DBEAFE;
    height: 0.5rem;
    border-radius: 0.3125rem;
}

.colum-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 9.375rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.colum-container .colum {
    max-height: 6.25rem;
    height: 1.25rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.625rem;
    background-color: #3B82F6;
}

.colum-container p {
    font-size: 0.6875rem;
    font-weight: 400;
}

.Question-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2.5rem;
}

.Question-container p {
    font-size: 0.75rem;
    font-weight: 400;
}

.Question-container select {
    width: 99%;
    padding: 0.5rem;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    border: 0.0625rem solid #D1D5DB;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

.tick-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2.5rem;
}

/* Kiểu dáng tổng thể */
.switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.25rem;
}

/* Ẩn checkbox gốc */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Thanh trượt */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 2.125rem;
}

/* Nút tròn bên trong */
.slider::before {
    position: absolute;
    content: "";
    height: 0.9375rem;
    width: 0.9375rem;
    left: 0.1875rem;
    top: 0.1875rem;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Khi checkbox được bật (checked) */
input:checked+.slider {
    background-color: #2563EB;
}

/* Di chuyển nút tròn sang phải */
input:checked+.slider::before {
    transform: translateX(1.125rem);
}

.text .text-title {
    font-size: 0.875rem;
    font-weight: 400;
}
.text .text-conten {
    font-size: 0.6875rem;
    font-weight: 400;
    color: #6B7280;
}

/* ============================= */
/* =========Step3=========== */

.Assign-Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
}

.Assign-Container .Assign-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Assign-Container i {
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.125rem;
    color: #6B7280;
    margin-right: 0.625rem;
}

.Assign-Container .Assign-name {
    font-size: 0.75rem;
    font-weight: 450;
}

.Assign-Container .Assign-title {
    font-size: 0.625rem;
    font-weight: 450;
    color: #6B7280;
}
.Assign-Container select {
    margin-left: auto;
    min-width: 12.5rem;
    height: 2.375rem;
    width: 20%;
    align-items: center;
    border: 0.0625rem solid #D1D5DB;
    border-radius: 0.3125rem;
    padding: 0 0.625rem;
    font-size: 0.875rem;
    font-weight: 300;
}

#Deadline-Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    gap: 5%;
}

#Deadline-Container p {
    font-size: 0.75rem;
    font-weight: 450;
}
#Deadline-Container .Deadlines {
    min-width: 50%;
}
#Deadline-Container input {
    width: 90%;
    height: 2.625rem;
    font-size: 1rem;
    font-weight: 300;
    border: 0.0625rem solid #D1D5DB;
    border-radius: 0.3125rem;
    padding: 0 0.625rem;
    margin-top: 0.625rem;
}

#warning {
    width: 100%;
    height: 4.625rem;
    display: flex;
    flex-direction: row;
    background-color: #FEFCE8;
    border: 0.0625rem solid #FEF08A;
    border-radius: 0.375rem;
    align-items: center;
    padding-left: 1.25rem;
    margin: 0.625rem 0;
}

#warning i {
    margin-right: 0.3125rem;
    color: #EAB308;
    width: 1.25rem;
    height: 1.25rem;
}

.setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.625rem 0;
}
.setting .text-Title {
    font-size: 0.75rem;
}
.setting .text-content {
    font-size: 0.625rem;
    color: #6B7280;
}

input:focus {
    outline: none;
    border: none;
}

/* ================================ */
/* ===========STEP4=========== */

#infor-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.9375rem;
    border: 0.0625rem solid #E5E7EB;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
}

#infor-Container #left-infor,
#infor-Container #right-infor {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#infor-Container .title {
    font-size: 0.75rem;
    color: #6B7280;
    margin-top: 0.625rem;
}
#infor-Container .content {
    font-size: 0.875rem;
    margin-top: 0.1875rem;
}

#colum-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.25rem;
}

#colum-container #left-container,
#colum-container #right-container {
    width: 48%;
    border: 0.0625rem solid #E5E7EB;
    border-radius: 0.5rem;
    height: 12.5rem;
    padding: 0.9375rem;
}

#colum-container #left-container > div,
#colum-container #right-container > div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 7.5rem;
    padding-bottom: 0.9375rem;
    justify-content: flex-end; /* Đẩy nội dung xuống đáy */
    height: 100%;
}

#colum-container .colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#colum-container #colum-basic {
    background-color: #4CAF50;
    width: 3.6875rem;
}
#colum-container #colum-intermediate {
    background-color: #2196F3;
    width: 3.6875rem;
}
#colum-container #colum-advanced {
    background-color: #FF9800;
    width: 3.6875rem;
}

#colum-container #colum-expert {
    background-color: #F44336;
    width: 3.6875rem;
}
#right-container #colum-CLO1,
#right-container #colum-CLO2,
#right-container #colum-CLO3,
#right-container #colum-CLO4 {
    width: 2.875rem;
    background-color: #3B82F6;
}

#assigned-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 14rem;
    padding: 0.9375rem;
    border: 0.0625rem solid #E5E7EB;
    border-radius: 0.5rem;
}

.ASS {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ASS > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ASS img {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 0.625rem;
}
.ASS .name-user {
    font-size: 0.875rem;
}

.ASS .Assign-name {
    color: #6B7280;
}