<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div id="Menu-Staff" th:fragment="menu">
            <div style="padding: 1rem;">
                <div class="elements">
                    <i class="fa-solid fa-house "></i>
                    <a th:href="@{/hoe/dashboard}">Dashboard</a>
                </div>
                <div class="elements">
                    <i class="fa-solid fa-file"></i>
                    <a th:href="@{/hoe/review-assignment}">Review Assignment</a>
                </div>
                <div class="elements active">
                    <i class="fa-solid fa-file-circle-check"></i>
                    <a th:href="@{/hoe/approvals}">Approvals</a>
                </div>
            </div>
        </div>
    </body>
</html>