<link rel="stylesheet" href="../../Static/fontawesome/css/all.css">
<link rel="stylesheet" href="../../Static/Menu-Staff.css">
<div id="Menu-Staff">
    <div style="padding: 1rem;">
        <div class="elements active">
            <i class="fa-solid fa-house "></i>
            <a href>Dashboard</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-file"></i>
            <a href>Review Assignment</a>
        </div>
        <div class="elements">
            <i class="fa-solid fa-file-circle-check"></i>
            <a href>Approvals</a>
        </div>
    </div>

</div>